---
layout: default
permalink: /blog/authors/
title: "Community Blog Authors - Double Dot Labs"
description: "Community blog posts, grouped by the name of the primary author or group that contributed to the article."
---

<main>
    {% include title.html %}
    
    <h2>Community Authors</h2>
    <p>
        Posts here are grouped by the name of the primary author or group that contributed to the article.
    </p>
    
    {% assign posts_grouped = site.posts | sort: 'date' | reverse | group_by: 'author' %}
    {% for group in posts_grouped %}
    <h3 id="{{ group.name }}">{{ group.name }}</h3>
    <div>
        {% for post in group.items %}
        <a class="item item--box" href="{{ site.url }}{{ post.url }}">
            <span class="item__title">{{ post.title }}</span>
            <small>{{ post.date | date: "%B %e %Y" }}</small>
            <br>
            {{ post.description }}
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</main>
