---
layout: default
title: "Community Blog - Double Dot Labs"
description: "This blog exists as a centralized collection for documenting anything and everything that exists in open source software. Contributions accepted."
---

<main>
    {% include banner.html %}
    
    <h2>Community Blog</h2>
    <p>
        This blog exists as a centralized collection for documenting anything and everything that exists in open source software.
        If you would like to contribute your own article to this collection, please see the instructions in
        <a href="https://github.com/DoubleDotLabs/Blog">the blog's repository</a> on GitHub.
    </p>
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts %}
    <a class="item item--box" href="{{ site.url }}{{ post.url }}">
        <span class="item__title">{{ post.title }}</span>
        <small>{{ post.date | date: "%B %e %Y" }}</small>
        <br>
        {{ post.description }}
    </a>
    {% endfor %}
</main>