---
layout: default
---

<main>
    {% include banner.html %}
    
    <article class="post">
        <h1>
            {{ page.title }}
            <br>
            <span style="font-size: 0.6em;">Written on {{ page.date | date: "%B %e %Y" }}</span>
        </h1>
        <p>
            {% for author in page.authors %}
            <a class="link" href="{{ author.url }}">
                <img class="link__img--round" src="{{ author.avatar }}">
                <span class="link__title">{{ author.name }}</span>
            </a>
            {% endfor %}
        </p>
        <small>
            Tags: 
            {% for tag in page.tags %}
            {% assign item = site.tags | where: "tag", tag | first %}
            <a href="{{ site.url }}{{ item.url }}">#{{ item.title }}</a>&nbsp;
            {% endfor %}
        </small>
        <div class="entry markdown">
            {{ content }}
        </div>
        <hr>
        <h3>Sources:</h3>
        {% for citation in page.citations %}
        <a class="item" href="{{ citation.url }}">
            {{ citation.name }}
            <span class="item__title">{{ citation.url }}</span>
        </a>
        {% endfor %}
    </article>
</main>