<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="0; URL='{{ page.link }}'" />
		<link rel="canonical" href="{{ page.link }}"/>
		<meta charset="utf-8">
		<title>Redirecting&hellip;</title>
		<link rel="canonical" href="{{ page.link }}">
		<script>location="{{ page.link }}"</script>
		<meta http-equiv="refresh" content="0; url={{ page.link }}">
		<meta name="robots" content="noindex">
		<h1>Redirecting&hellip;</h1>
	</head>
	<body>
		Redirecting to <a href="{{ page.link }}">{{ page.link}}</a>.
	</body>
</html>
