---
layout: default
---

<main>
    <a href="/"><h1>Double Dot Labs</h1></a>
    <h2>#{{ page.title }}</h2>
    <div class="markdown">
        {{ content }}
    </div>
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts %}
    {% if post.tags contains page.tag %}
    <a class="item item--box" href="{{ site.url }}{{ post.url }}">
        <span class="item__title">{{ post.title }}</span>
        <small>{{ post.date | date: "%B %e %Y" }}</small>
        <br>
        {{ post.description }}
    </a>
    {% endif %}
    {% endfor %}
</main>