.button {
	outline: none;
	border: 1px solid transparent;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);

	transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, border-color .25s, color .25s;
}

.button--selectable {
	background-color: rgba(255, 255, 255, 0);
	color: #808080 !important;
	color: var(--normal-color-focusable) !important;
	box-shadow: none;
}

.button:hover {
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade);
	
}

.button:focus {
	font-weight: bold;
	border-color: currentColor;
}

.button--selectable:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #000 !important;
	color: var(--normal-color-focus) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);
}

.button--selectable[selected] {
	border-color: transparent;
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.5);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade2);
}