.footer {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 8em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.footer__link {
	background: none;
	text-decoration: underline;
	font-size: .75em;
	color: #616161;
	color: var(--normal-color-text);
}

@media(min-width: 1575px) {
	.footer {
		margin-left: calc(50vw - 630px);
		margin-right: calc(50vw - 630px);
	}
}
