form {
	padding: 2em 4em;
	background-color: #F5F5F5;
	background-color: var(--normal-background-dark);
	border-top: 1px solid #BDBDBD;
	border-top: 1px solid var(--normal-outline);
	border-bottom: 1px solid #BDBDBD;
	border-bottom: 1px solid var(--normal-outline);
	width: 100%;
	text-align: center;
}

form.form--wide {
	width: 100% !important;
	padding-left: 10vw;
	padding-right: 10vw;
	margin: 0 -10vw;
}

select {
	display: block;
	outline: none;
	padding: 0.4em 0.8em;
	padding-right: 30px;
	margin-bottom: 0.8em;
	min-width: 100%;
	color: #000;
	color: var(--normal-color);
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, transparent 50%), #0091EA;
	background: linear-gradient(45deg, transparent 50%, var(--normal-color) 50%), linear-gradient(135deg, var(--normal-color) 50%, transparent 50%), var(--normal-background);
  	background-position: calc(100% - 17px) 1em, calc(100% - 12px) 1em;
  	background-size: 5px 5px, 5px 5px;
  	background-repeat: no-repeat;

	-webkit-transition: color .25s, border .25s, box-shadow .25s;
	-moz-transition: color .25s, border .25s, box-shadow .25s;
	transition: color .25s, border .25s, box-shadow .25s;
}

select:hover {
	color: #000;
	color: var(--normal-color-focus);
	border: 1px solid #000;
	border: 1px solid var(--normal-color-focus);
	box-shadow: none;
}

select::-ms-expand {
	display: none;
}

select * {
	background-color: #FFF;
	background-color: var(--normal-background);
	color: #000;
	color: var(--normal-color-focus);

	-webkit-transition: color .25s, background-color .25s;
	-moz-transition: color .25s, background-color .25s;
	transition: color .25s, background-color .25s;
}

select *:hover {
	background-color: #0091EA;
	background-color: var(--accent-color);
	color: #FFF;
	color: var(--accent-inverse);
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	width: 128px;
	height: 20px;
	margin: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	background-color: var(--normal-focus);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border: 1px solid var(--normal-outline);
	outline: none;

	-webkit-transition: border .25s;
	-moz-transition: border .25s;
	transition: border .25s;
}

input[type=submit].button {
	padding: .6em .8em;
}

input[type=text] {
	padding: calc(.6em - 1px) .8em;
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
	background-color: #FFF;
	background-color: var(--normal-background);
	color: #000;
	color: var(--normal-color);
	outline: none;

	transition: border .25s;
	-moz-transition: border .25s;
	-webkit-transition: border .25s;
}

input[type=text]:focus {
	border: 1px solid #000;
	border: 1px solid var(--normal-color);
}

input[type=checkbox] {
	display: none;
	outline: none;
}

input[type=checkbox] + label {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin: 0;
	margin-left: 24px;
	margin-right: 16px;
	background-image: url("/images/ic-checkbox-unchecked.svg");
	outline: none;
}

input[type=checkbox]:checked + label {
	background-image: url("/images/ic-checkbox-checked.svg");
}

input[type=checkbox] + label {
	transform: translateY(6px);
	cursor: pointer;
}

input[type=file] {
	display: none;
}

input[type=file] + label {
	font-size: .8em;
}

input[type=file] + label {
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);

	transition: box-shadow .25s, background-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, color .25s;
}

input[type=file] + label:hover {
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade);
}

input[type=range]:hover {
	border: 1px solid #000;
	border: 1px solid var(--normal-color);
}

input[type=range]::-moz-range-track {
	border: none;
	background: transparent;
}

input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: transparent;
}

input[type=range]::-ms-tooltip {
	display: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 20px;
	border: none;
	background-color: #0091EA;
	background-color: var(--accent-color);
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);
}

input[type=range] + label {
	display: inline-block;
	height: 20px;
	min-width: 40px;
	padding: 0 .5em;
	text-align: center;
	vertical-align: top;
	line-height: 22px;
	background: #FFF;
	background: var(--normal-background);
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
}
