img {
	max-width: 100%;
	max-height: 80vh;
}

img.img--round {
	border-radius: 50%;
	border: 1px solid #000000;
	border: 1px solid var(--normal-outline-dark);
	box-shadow: 0 0 1px 0px #000, 0 0 1px 0px #000;
	box-shadow: 0 0 1px 0px var(--normal-outline-dark), 0 0 1px 0px var(--normal-outline-dark);
}

.img__container {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 40vh;
	overflow: hidden;
}

.img__container--wide {
	margin: 0 -10vw;
	width: calc(100% + 20vw);
	max-width: 100vw;
	max-height: 50vh;

	transition: max-height .25s;
	-moz-transition: max-height .25s;
	-webkit-transition: max-height .25s;
}

@media(min-width: 1575px) {
	.img__container--wide {
		margin: 0 calc(630px - 50vw);
		width: 100vw;
	}
}
