.markdown {
	line-height: 1.8;
}

.markdown img {
	border-radius: 5px;
	box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.4em 1.2em var(--normal-focus);
	border: 1.5px solid #000000;
	border: 1.5px solid var(--normal-color-focus);
	background-color: #000000;
	background-color: var(--normal-color-focus);
}

.markdown a>img {
	border-radius: 0;
	box-shadow: none;
	border: none;
	background: none;
}

.markdown td>img {
    min-width: 200px;
}
