.pager {
	height: 350px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.pager__item {
	height: 347px;
	width: auto;
	margin: 0 8px;
	border: 1px solid #000;
	border: 1px solid var(--normal-outline-dark);
}

.pager__item:first-child {
	margin-left: 0;
}

.pager__item:last-child {
	margin-right: 0;
}
