.sidebar {
	display: block;
	padding: 2em 10vw;
	background-color: #F5F5F5;
	background-color: var(--normal-background-dark);
	border-bottom: 1px solid #BDBDBD;
	border-bottom: 1px solid var(--normal-outline);
	user-select: none;
	overflow-y: hidden;
	max-height: 0px;
	z-index: 98;

	transition: max-height .25s;
	-moz-transition: max-height .25s;
	-webkit-transition: max-height .25s;
}

.sidebar:hover {
	max-height: 150vh;
}

.sidebar * {
	color: #616161;
	color: var(--normal-color-text);
}

.sidebar a {
	background: none;
	text-decoration: underline;
}

.sidebar::before {
	content: '...';
	display: block;
	text-align: center;
	color: #808080;
	color: var(--normal-color-focusable);
	line-height: 1em;
	font-size: 2em;
	
	position: relative;
	left: 50%;
	top: -0.5em;
	transform: translateX(-50%);

	transition: opacity .25s;
	-moz-transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

.sidebar:hover::before {
	opacity: 0;
}

@media(min-width: 800px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: calc(70% - 20vw);
	}
	
	.sidebar {
		position: fixed;
		width: calc(30% - 4em);
		right: 0;
		top: 0;
		bottom: 0;
		padding: 3em 2em;
		border-left: 1px solid #BDBDBD;
		border-left: 1px solid var(--normal-outline);
		border-bottom: none;
		max-height: initial;
		overflow-y: auto;
	}

	.sidebar::before {
		display: none;
	}
	
}

@media(min-width: 1575px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: calc(882px);
	}

	.sidebar {
		width: calc(20% - 4em);
	}
}

@media(min-width: 2800px) {
	.sidebar ~ main,
	.sidebar ~ .footer {
		width: auto;
	}

	.sidebar {
		width: 560px;
		height: auto;
		position: absolute;
		top: 10em;
		bottom: auto;
		border: 1px solid #BDBDBD;
		border: 1px solid var(--normal-outline);
		border-radius: 10px;
		right: calc(50vw - 1190px - 6em);
	}
}
