* {
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

h2 {
  opacity: 0.9;
}

h3 {
  opacity: 0.8;
}

h4 {
  opacity: 0.7;
}

p {
  opacity: 0.5;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #4AE1A5;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

.mdl-button {
  margin: 5px 0;
}

.mobile {
  display: none;
}

@media (max-width: 999px) {      
  .desktop {
    display: none;
  }
      
  .mobile {
    display: block;
  }
}
